<h2> {{ title }} </h2>
<div class="row">
    <button class="btn btn-lg btn-info" [class.Active]="filterBy=='all'" (click)="filterBy='all'">All</button>
    <button class="btn btn-lg btn-info"  [class.Active]="filterBy=='tree'" (click)="filterBy='tree'">Tree</button>
    <button class="btn btn-lg btn-info"  [class.Active]="filterBy=='black_and_white'" (click)="filterBy='black_and_white'">BlackAndWhite</button>
    <button class="btn btn-lg btn-info"  [class.Active]="filterBy=='something'" (click)="filterBy='something'">Something</button>
    <button class="btn btn-lg btn-info"  [class.Active]="filterBy=='self_obssesion'" (click)="filterBy='self_obssesion'">Self</button>
    <ul id="thumbnailsList">
        <li *ngFor="let image of (visibleImages | imageFilterPipe: filterBy)">
            <a [routerLink]= "['/image', image.id]">
                <img src="{{ image.url}}" class="tn" width="200" height="160">
            </a>
        </li>
    </ul>
</div>
